body {
  margin: 0;
  padding: 0;
  background-image: url(assets/others/vegas.jpg);
  font-family: 'Lato', sans-serif;
  background-attachment: fixed; 
    background-size: cover;
    color: white;
}

.bg-game {
    background-color: white;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}

.bg-game:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
}

.arrow_left {
    transform: scaleX(-1);
    margin-left: 12px;
    max-width: 20px;
    max-height: 20px;
}

.arrow_right {
    margin-right: 12px;
    max-width: 20px;
    max-height: 20px;
}

.dice {
  border-radius: 20px;
}

/*animate button*/  
  
#new_game {
  display: flex;
  justify-content: center;
  
}

.button{
    position:relative;
    display:inline-block;
    height: 50px;
    justify-content: space-between;
  }
    /* button new game*/
  .button .btnNewGame{
    color:white;
    font-weight:bold;
    font-size:15px;
    text-align: center;
    text-decoration:none;
    background-color:#FFA12B;
    display: block;
    position:relative;
    padding: 10px 10px;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .button .btnNewGame:active{
    top:10px;
    background-color:#F78900;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  }
  
  .button .btnNewGame:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .buttonRoll {
    color: white;
    background: #f69d3c;
    border: none;
    box-shadow: 1px 1px 1px 1px #915100;
    border-radius: 4px;
  }

  .buttonHold {
    color: white;
    background: #f69d3c;
    border: none;
    box-shadow: 1px 1px 1px 1px #915100;
    border-radius: 4px;
  }

  /* Dice and Roll*/
  .shake {
    animation: shake 0.5s infinite;
  }
  @keyframes shake {
    0%{
        transform: rotate(8deg);
    }
    50%{
        transform: rotate(-8deg);
    }
    100%{
        transform: rotate(8deg);
    }
  }

  #playerTwoTemporyScore {
    font-size: 20px;
  }

  #playerOneTemporyScore {
    font-size: 20px;
  }

  #playerOneScoreHeld {
    font-size: 20px;
  }

  #playerTwoScoreHeld {
    font-size: 20px;
  }

  #rules {
    color: #FFA12B;
    background-color: #000;
  }

  /* @media screen and (min-width: 200px) and (max-width: 640px){
    .P1 {
      background-color: blue;
    }
    .P2 {
      background-color: red;
    }
  } */
